{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<p>Envie d'ajouter une nouvelle catégorie ??</p>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('create new category') }}</button>
    {{ form_end(form) }}
{% endblock %}
